.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.navBar .navBarHamb {
    display: none;
}

/* Left */

.navBar .navBarSect {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navBar .navBarSect img {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.navBar .navBarSect img:hover {
    transform: scale(1.1);
}

.navBar .navBarSect a {
    text-decoration: none;
    color: var(--ctext);
    transition: .3s ease-in-out;
    user-select: none;
}

.navBar .navBarSect a:hover {
    color: var(--ctextm);
}

/* Right */

.navBar .navBarIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navBar .navBarIcons div {
    width: 200px;
    background: var(--cbg2);
    display: flex;
    padding: 3px 6px;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    gap: 6px;
    user-select: none;
}

@media (max-width: 767px) {

    .navBar {
        position: relative;
        padding: 0;
        height: 70px;
    }

    .navBar .navBarHamb {
        display: block;
        padding-left: 1rem;
    }

    .navBar .navBarSect {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--cbg2);
        gap: 2rem;
        top: 70px;
        width: 320px;
        height: 100vh;
        padding: 1rem 2rem;
        transition: .3s ease-in-out;
    }

    .navBar .navBarIcons {
        justify-content: flex-end;
        padding: 1rem;
    }

    .navBar .navBarIcons a {
        display: none;
    }
}