.pagerTool .pagerToolSect {
    display: flex;
    gap: 1rem;
}

.pagerTool .pagerToolSect .pagerToolDiv {
    width: 750px;
}

.pagerImport {
    margin: 1rem 0;
}

.pagerImport .pagerImportCod {
    width: 350px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pagerInputs {
    display: flex;
    gap: 1rem;
}

.pagerInputs select {
    width: 220px;
    background-color: #141414;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    color: aliceblue;
}

.pagerView {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pagerView .pagerViewSect {
    display: flex;
    gap: 3rem;
}

.pagerView .pagerViewSect .pagerViewTable {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px black;
    border-radius: 8px;
    font-size: 3rem;
}