.autoComTool {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.autoComTool .autoComToolSect {
    display: flex;
    gap: 1rem;
}

.autoComTool .autoComToolSect .autoComToolDiv {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.autoComTool h4 {
    color: var(--caccent);
}