#tooltipImp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

#tooltipImp h4 {
    color: var(--caccent);
}

#tooltipImp p {
    line-height: 2;
}

#tooltipImp .tooltipImpCode {
    width: 380px;
}

#tooltipImp .tooltipImpCode .tooltipImpCodeDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
}