.update0012 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 760px;
}

.update0012 h4 {
    color: var(--caccent);
}

.update0012 p {
    font-size: 14px;
}

.update0012 section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.update0012 section div {
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ease-in-out;
    gap: .6rem;
}

.update0012 section div:hover {
    background-color: var(--cbg2);
}