.btnA {
    background-color: var(--ctext);
    color: var(--cbg2);
    transition: .3s ease-in-out;
}

.btnA:hover {
    background-color: var(--ctextm);
}

.btnB {
    background-color: var(--caccent);
    color: black;
    transition: .3s ease-in-out;
}

.btnB:hover {
    opacity: 0.8;
}