.version {
    padding-top: 70px;
    min-height: 95vh;
}

.version table tbody {
    font-size: 12px;
}

.version h2 {
    text-align: center;
    font-size: 2rem;
}

.version section {
    width: 80%;
    margin: 2rem auto;
}

.versionLink {
    text-decoration: none;
    color: aliceblue;
}