.import {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.import p {
    line-height: 2;
}

.import .importDiv {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}