.header {
    padding-top: 70px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.header .headerTop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .headerTop h5 {
    font-size: 1rem;
}

.header .headerTop div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--caccent);
}

.header h1 {
    font-size: 3rem;
    max-width: 70%;
}

.header .headerp {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 70%;
}

.header .headerp p {
    line-height: 1.8;
}

.header>div:nth-of-type(3) .headerA {
    color: var(--ctext);
    transition: .3s ease-in-out;
}

.header>div:nth-of-type(3) .headerA:hover {
    color: var(--ctextm);
}

.header .headerVersion {
    font-size: 12px;
    color: var(--caccent);
}

@media (max-width: 767px) {

    .header {
        padding: 0;
        justify-content: flex-start;
    }

    .header h1 {
        font-size: 1.6rem;
        max-width: 90%;
        padding: 1rem 0;
    }

    .header .headerp {
        max-width: 90%;
        font-size: 12px;
    }
}