.checkBoxesTool {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkBoxesTool .checkBoxesToolSect {
    display: flex;
}

.checkBoxesTool .checkBoxesToolSect .checkBoxesToolDiv {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.checkBoxImp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 2;
}

.checkBoxInputs {
    display: flex;
    gap: 1rem;
}

.checkBoxInputs div select {
    width: 180px;
    margin-top: 6px;
    height: 30px;
    background-color: #141414;
    border: none;
    border-bottom: 1px solid gray;
    color: aliceblue;
}

.checkBoxView {
    display: flex;
    gap: 6rem;
}

.checkBoxesProps {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: whitesmoke;
}

.checkBoxesProps p {
    font-size: 14px;
}