.sider {
    width: 270px;
    flex-shrink: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--cactive);
    border-radius: 0 8px 8px 0;
}

.sider .siderTop {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 1rem;
}

.sider .siderTop h5 {
    color: var(--caccent);
}

.siderData {
    display: flex;
    flex-direction: column;
}

.siderData p {
    padding: 12px 12px 12px 1rem;
    transition: .3s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.siderData p:hover {
    background-color: var(--cbg2);
}